.body-container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 63px;
}

.logo-text-black {
  display: inline;
  color: #000;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 0;
}
.logo-text-blue {
  color: #4bcaff;
}

.top-nav-menu {
  background-color: #35444f;
  margin-bottom: 0;
  margin-top: 40px;
}

.top-nav-list {
  display: flex;
  justify-content: center;
  margin: 0;
}

.top-menu-item {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 24px;
  padding-top: 24px;
  padding-bottom: 18px;
  padding-right: 40px;
  padding-left: 40px;
  border-left: 1px solid #ffffff;
}

.top-menu-item:last-child {
  border-right: 1px solid #ffffff;
}

.top-menu-item:hover {
  background-color: #222f3a;
}

.top-menu-link {
  color: #ffffff;
}

/* ....................................main................................. */

.main-container {
  display: flex;
  justify-content: center;
  gap: 52px;
  padding-top: 49px;
  padding-bottom: 54px;
}

.aside-meny {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 344px;
  height: 405px;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0);
}

.menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 0;
  padding-left: 0;
}

.aside-item {
  color: #495863;
  font-size: 27px;
  line-height: 27px;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 40px;
}

.aside-item-link {
  color: #495863;
}
.aside-item:hover {
  background: #dbdbdb;
  padding-left: calc(4em - 20px);
}

.main-background-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 529px;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0);
}

.main-picture:hover {
  transform: scale(1.2);
  transition: 0.8s;
}

.content-text {
  width: 885px;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.text-description {
  padding-top: 37px;
  padding-bottom: 13px;
  margin: 0;
}
.text-original {
  margin: 0;
}

/* ........................................footer............................................... */

.footer-nav-menu {
  display: flex;
  justify-content: space-between;
  background: rgba(99, 105, 110, 0.48);
  height: 69px;
}

.footer-menu-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 40px;
  margin: 0;
  width: 875px;
}
.footer-list-item {
  display: flex;
  align-items: center;
}

.footer-item-link {
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}
.footer-item-link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
  padding-top: 9px;
  padding-bottom: 9px;
}

.rights {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 40px;
  color: #010101;
  font-size: 24px;
}
